@import '../../styles'

*
    background-color: $main-bg-color 
    color: white

.mainContainer
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

h2
    padding: 0 3em