<div class="mainContainer">
  <h1 class="mainTitle">Summary</h1>
  <br /><br />
  <hr />
  <br /><br />
  <h2> Experienced developer with 4+ years of involvement in front-end projects designing user 
    interface web applications through the usage of Typescript and its main frameworks such as 
    Angular, Ionic (for mobile applications) and React, as well as a strong background in data science 
    integrations through machine learning engines using Python and R language.</h2><br>
  <h2> Extensive knowledge in the latest Angular features such as routing, directives, route guards, lazy 
    loading, Inter-component data transfers, dependency Injection, exception handling, data pipes, 
    interceptors, http module operations, reactive and template driven forms.</h2><br>
  <h2> Good knowledge of database topics. Namely, developing SQL/PLSQL code, writing stored 
    procedures, triggers, script integration for data validation, Oracle 12/MySQL servers, document-based databases management, Mongo Atlas. Additionally, knowledge of data warehousing 
    techniques, building SSIS pipelines using Microsoft's visual studio tools.</h2><br>
  <h2>Expertise in machine learning fields, particularly through its implementation with Python using 
    several frameworks such as tensor flow OpenCV, Scikit, Numpy/Pandas, Keras. Experience 
    implementing such techniques in web application projects to improve and add valuable UX 
    components and features. Additionally, proficiency in predictive algorithms such as neural 
    networks, SVM, Logit, Random forests, Decision trees, Association rules, and many others.</h2>
</div>
