@import '../styles'

*
    background-color: $gray-accent-color
    overflow: visible
html
    overflow: scroll
.mainContainer
    position: relative

mat-button-toggle
    background-color: $gray-accent-color !important

app-nav-bar
    background-color: $gray-accent-color !important
    position: fixed !important
    width: 100vw
    display: block
    top: 0
    z-index: 2

mat-sidenav
    position: fixed
    top: 4em !important

