<div class="content">
  <button (click)="toggleSideBar()">
    <div class="insideButton">
      <!-- <mat-icon>menu</mat-icon> -->
      <mat-icon>link</mat-icon>
    </div>
    <span>Links</span>
  </button>
  <div class="linkWords">
    <p [routerLink]="['/home']" (click)="navigateDown()">Home</p>
    <p [routerLink]="['/about']" (click)="navigateDown()">About</p>
    <p [routerLink]="['/portfolio']" (click)="navigateDown()">Portfolio</p>
    <p [routerLink]="['/contact']" (click)="navigateDown()">Contact</p>
    <!-- <a>About</a> -->
  </div>
</div>
