@import '../../styles'
    
*
    overflow: visible
    background-color: $gray-accent-color 


.content
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    padding: 0 3em
    height: 4em
    
mat-icon
    font-size: 2.5rem
    padding-right: 1em
    height: fit-content
    
mat-icon:hover
    color: $pink-accent-color
    text-shadow: $pink-accent-color 0 0 1em

.linkWords
    align-self: center
    display: flex
    flex-direction: row
    justify-content: space-evenly
    gap: 10em
    padding-right: 10em

p
    font-size: 2rem
    

p:hover
    color: $purple-accent-color
    font-size: 2rem
    text-shadow: $purple-accent-color 0 0 1em
    align-self: center
    
button
    align-self: center
    border: none
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.insideButton 
    align-self: center
    border: none
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
span
    line-height: 0.1em
    z-index: 0
    padding: 0.5em
    
span
    line-height: 0.1em
    z-index: 0
    padding: 0.5em
    
span:hover
    color: $pink-accent-color
    text-shadow: $pink-accent-color 0 0 1em
