<div class="mainContainer">
  <h1 class="mainTitle">Brief Introduction to my skillset</h1>
  <br /><br />
  <hr />
  <br /><br />
  <div class="middleContainer">
    <div class="skillContainer">
      <div class="skillDetail">
        <mat-icon>flash_on</mat-icon>
        <h1>Fast Learner</h1>
      </div>
      <div class="skillDetail">
        <mat-icon>battery_charging_full</mat-icon>
        <h1>Highly Motivated</h1>
      </div>
      <div class="skillDetail">
        <mat-icon>groups</mat-icon>
        <h1>Team Player</h1>
      </div>
      <div class="skillDetail">
        <mat-icon>psychology</mat-icon>
        <h1>Logical Thinker</h1>
      </div>
      <div class="skillDetail">
        <mat-icon>connect_without_contact</mat-icon>
        <h1>Communicative</h1>
      </div>
    </div>
    <!-- // -->
    <mat-accordion>
      <h1 [ngStyle]="{ 'font-size': '2.5rem' }">Skillsets</h1>
      <br />
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let skillSet of skillSetData"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>{{ skillSet.title }}</h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br />
        <h2 *ngFor="let skill of skillSet.values">
          <mat-icon class="bulletPoint">bolt</mat-icon> {{ skill }}
        </h2>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
